.btn {
  display: inline-block;
  line-height: 20px;
  font-size: 18px;
  padding: 10px 40px;
  border-radius: 20px;
  background-color: #0069BA;
  color: white;
  box-shadow: 0 4px 4px #0004;
}
  .btn:hover {
    box-shadow: 0 4px 8px #000a;
    cursor: pointer;
  }