body {
  background-color: #09ADC6;
}
  .container {
    display: inline-block;
    width: 800px;
    margin-top: 100px;
    margin-left: calc((100% - 800px) / 2);
  }
    .left-column {
      display: inline-block;
      width: 40%;
      background-color: #0054AE;
      margin-top: 20px;
      float: left;
    }
      .page-title {

      }
      .bottom-links {

      }
      .bottom-links > .link {

        }
        .bottom-links > .text {

        }
    .right-column {
      display: inline-block;
      width: 60%;
      background-color: rgb(255, 255, 255);
      float: left;
      padding: 60px;
    }
      .close {
      }
      .form {

      }
        from-row {

        }
          .label {

          }
          .input {

          }
          .btn {

          }
          from-row > .text {

          }
          from-row > .link {

          }